

body {
    box-sizing: border-box;

    margin: 0;
}

li {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

a {
    text-decoration: none;
}

section {
    padding-inline: 402px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #a1a1a1;
}

.header-navigation {
    padding-top: 40px;
    margin-left: 932px;
    padding-bottom: 40px;    
}

.header-navigation a {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.header-navigation :not(:last-child) {
    margin-right: 40px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url("../img/Rectangle.jpg");
    background-repeat: no-repeat;
    
    height: 900px;
}

.hero-header {
    margin: 0;
    margin-bottom: 20px;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.hero-text {
    font-family: Montserrat,sans-serif;
    font-size: 48px;
    font-weight:  700;

    margin-bottom: 50px;
    max-width: 829px;
    text-align: center;
    color: white;

}

.hero-button {
    padding: 13px 36px;
    border-radius: 30px;

    background-color: #4985FF;
    border: none;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;   
}

.hero-button:hover {
    background-color: #3e79f0;
    cursor:pointer;
}

.services {
    background-color: white;
    padding-top: 110px;
}

.services-header {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #323232;
    text-align: center;
}

.services-text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}

.services-list {
    display: flex;
    gap: 27px;
}

.services-list-item {
    display: flex;
}

.services-list-item-image-border {
    border: 1px solid #e0e0e0;
    position: absolute;
    border-radius: 50%;
    width: 110px;
    aspect-ratio: 1/1;
}

.services-list-item-image {
    border: 1px solid #4985FF;
    
    border-radius: 50%;
    width: 90px;
}
.services-list-item-group {
    margin-left: 128px;
}