body {
  box-sizing: border-box;

  margin: 0;
}

li {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section {
  padding: 110px 402px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #a1a1a1;
}

.header-navigation {
  padding-top: 40px;
  margin-left: 932px;
  padding-bottom: 40px;
}

.header-navigation a {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.header-navigation :not(:last-child) {
  margin-right: 40px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url('../img/Rectangle.jpg');
  background-repeat: no-repeat;

  height: 900px;
  padding-top: 0;
  padding-bottom: 0;
}

.hero-header {
  margin: 0;
  margin-bottom: 20px;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.hero-text {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;

  margin-bottom: 50px;
  max-width: 829px;
  text-align: center;
  color: white;
}

.hero-button {
  padding: 13px 36px;
  border-radius: 30px;

  background-color: #4985ff;
  border: none;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.hero-button:hover {
  background-color: #3e79f0;
  cursor: pointer;
}

.services {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-header {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #323232;
  text-align: center;

  margin-bottom: 50px;
}

.services-text {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  text-align: center;

  margin-bottom: 70px;
}

.services-list {
  display: flex;

  gap: 27px;

  margin-bottom: 55px;
}

.services-list-item {
  display: flex;
  box-sizing: border-box;
}

.services-list-item-image-border {
  border: 1px solid #e0e0e0;
  position: absolute;
  border-radius: 50%;
  width: 110px;
  aspect-ratio: 1/1;
}

.services-list-item-image {
  display: flex;

  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  border: 1px solid #4985ff;
  position: absolute;

  margin: 10px;
  width: 90px;

  border-radius: 50%;
  aspect-ratio: 1/1;
}

.services-list-item-group {
  margin-left: 128px;
}

.services-list-item-header {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;

  margin-top: 45px;
}

.services-list-item-text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.services-button {
  padding: 13px 36px;
  border-radius: 30px;

  background-color: #4985ff;
  border: none;

  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.services-button:hover {
  background-color: #3e79f0;
  cursor: pointer;
}

.high-standards {
    display: flex;
    flex-direction: column;
    gap: 72px;
    background-color: #f6f6f8;
    
    padding-bottom: 72px;
}

.high-standards-content {
    display: flex;
    
    align-items: center;
    gap: 120px;
}

.high-standards-text-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.high-standards-header {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: black;
    line-height: 1.5;
}

.high-standards-text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #999999;
}

.high-standards-link {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4985FF;

    text-decoration: underline;
}

.high-standards-image {
    width: 500px;
}

.high-standards-divider {
    border-top: 1px solid #E0E0E0;
    height: 0;
}

.high-standards-project-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 96px;
}

.high-standards-project-list-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.high-standards-project-list-item-count {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: black;
    line-height: 1.5;
}

.high-standards-project-list-item-text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #999999;
}

.high-standards-project-list-item-image {
    height: fit-content;
}

.our-services {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.our-services-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-services-header {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
}

.our-services-button {
    padding: 13px 36px;
    border-radius: 30px;
  
    background-color: #4985ff;
    border: none;
  
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
  
.our-services-button:hover {
    background-color: #3e79f0;
    cursor: pointer;
}

.our-services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;

    margin-top: 72px;
}

.our-services-list-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.our-services-list-item-header-wrapper {
    display: flex;
    flex-direction: row;

    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.our-services-list-item-number-mark {
    font-size: 18px;
    color:#4985FF;
}

.our-services-list-item-header {
    font-size: 18px;
    color: #000;
}

.our-services-list-item-text {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;

    line-height: 1.6; 
    color: #999;
}

.our-services-list-item-link {
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #4985FF;
    text-decoration: underline;
}


